<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/login_fonts/icomoon/style.css">

    <link rel="stylesheet" href="assets/login_css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/login_css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="assets/login_css/style.css">

    <title>회원정보확인</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="col-md-6 order-md-2">
          <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div> -->
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                  <h1 class="anabada">ANABADA</h1>
                  <h3>회원정보 확인</h3>
                  <p class="mb-4">회원님의 정보를 안전하게 확인하기 위해 비밀번호를 한 번 더 확인합니다.</p>
                </div>
                <!-- 비밀번호 재설정 -->
                <form action="#" method="post">
                  <div class="form-group first">
                    <label for="">Email</label>
                    <input type="text" class="form-control" readonly>

                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password">
                    
                  </div>              
                  <input type="submit" value="비밀번호 확인" class="btn btn-pill text-white btn-block btn-primary">
                </form>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="assets/login_js/jquery-3.3.1.min.js"></script>
    <script src="assets/login_js/popper.min.js"></script>
    <script src="assets/login_js/bootstrap.min.js"></script>
    <script src="assets/login_js/main.js"></script>
  </body>
</html>