<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/assets/login_fonts/icomoon/style.css}">

    <link rel="stylesheet" th:href="@{/assets/login_css/owl.carousel.min.css}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/login_css/bootstrap.min.css}">
    
    <!-- Style -->
    <link rel="stylesheet" th:href="@{/assets/login_css/style.css}">
    

    <title>아이디/비밀번호 찾기</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="col-md-6 order-md-2">
          <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div> -->
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                  <h1 class="anabada">ANABADA</h1>
                  <h3>이메일 찾기</h3>
                  <p class="mb-4">본인 확인 후 이메일 확인이 가능합니다.</p>
                  <input type="button" value="본인 명의 휴대폰으로 인증" class="btn btn-pill text-white btn-block btn-primary" width="500px">
                </div>
                <!-- 비밀번호 재설정 -->
                <h3>비밀번호 재설정</h3>
                <div>
                    <p>1. 비밀번호의 경우 암호화 저장되어 분실 시 찾아드릴 수 없는 정보 입니다.</p>
                    <p>2. 이메일 및 전화번호 확인 후 임시 비밀번호를 메일로 발송해 드립니다.</p>
                </div>
                <form action="#" method="post">
                  <div class="form-group first">
                    <label for="username">휴대폰 번호</label>
                    <input type="text" class="form-control" id="username">

                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">아이디(이메일)</label>
                    <input type="password" class="form-control" id="password">
                    
                  </div>              
                  <input type="submit" value="비밀번호 찾기" class="btn btn-pill text-white btn-block btn-primary">
                </form>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script th:src="@{/assets/login_js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/assets/login_js/popper.min.js}"></script>
    <script th:src="@{/assets/login_js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/login_js/main.js}"></script>
  </body>
</html>