<!doctype html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/assets/signup_fonts/icomoon/style.css}">

    <link rel="stylesheet" th:href="@{/assets/signup_css/owl.carousel.min.css}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/signup_css/bootstrap.min.css}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->
    
    <!-- Style -->
    <link rel="stylesheet" th:href="@{/assets/signup_css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/signup_css/signup_custom.css}">

    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script th:src="@{/js/jquery-3.6.3.min.js}"></script>
    <script th:src="@{/js/alert.js}"></script>
    <script th:src="@{/js/login/user_sign.js}"></script>
    

    <title>회원가입</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                    <a th:href="@{/}"><h1 class="anabada">ANABADA</h1></a>
                  <!-- <p class="mb-4">사용하실 닉네임과 이메일, 비밀번호를 입력해 주세요.</p> -->
                </div>
                <form action="" id="joinForm" method="post">
                  <div class="form-group first">
                    <label for="name" class="font_size">이름</label>
                    <input type="text" class="form-control font_size" name="user_name" id="username">
                    <span class="check_html"></span>
                  </div>

                  <div class="form-group first">
                    <label for="nickname" class="font_size">닉네임</label>
                    <input type="text" class="form-control font_size" name="user_nick" id="nickname">
                    <span class="check_html"></span>
                  </div>

                  <div class="form-group first">
                    <label for="email" class="font_size">이메일</label>
                    <input type="text" class="form-control font_size" name="user_email" id="email">
                    <span class="check_html"></span>
                  </div>

                  <div class="form-group">
                    <label for="password" class="font_size">비밀번호</label>
                    <input type="password" class="form-control font_size" name="user_pwd" id="password" placeholder="영어, 숫자, 특수문자 모두 포함되어야 하며, 최소 8글자 이상 입력해주세요. ">
                    <span class="check_html"></span>
                  </div>

                  <div class="form-group last mb-4">
                    <label for="re-password" class="font_size">비밀번호 확인</label>
                    <input type="password" class="form-control font_size" id="re-password">        
                    <span class="check_html"></span>
                  </div>

                  <div class="form-group">
                    <label for="phone" class="font_size">휴대전화</label>
                    <input type="button" value="인증" class="btn btn-success" style="position:absolute; right: 0;"> 
                    <input type="text" class="form-control font_size" name="user_phone" id="user_phone">  
                    <span class="check_html"></span>
                  </div>

                  <div class="form-group">
                    <label for="nation" class="font_size">국적</label>
                    <div style="position:absolute; right: 0;">
                      <input type="radio" name="user_nation" value="korea" class="btn btn-success" checked> 한국
                      <input type="radio" name="user_nation" value="japan" class="btn btn-success"> 일본
                    </div>
                    <input type="text" class="form-control font_size" readonly placeholder="국적을 선택해 주세요.">
                  </div>

                  <div class="form-group">
                    <label for="" class="font_size">우편번호</label>
                    <input type="button" value="우편번호검색" id="postCodeBtn" class="btn btn-success" style="position:absolute; right: 0;"> 
                    <input type="text" class="form-control font_size" id="postCode" placeholder="우편번호를 검색해 주세요." readonly>
                    <span class="check_html"></span>
                  </div>

                  <div class="form-group">
                    <label for="text" class="font_size">주소</label>
                    <input type="text" class="form-control font_size" id="address" readonly>
                    <span class="check_html"></span>
                  </div>

                  <div class="form-group">
                    <label for="text" class="font_size">상세 주소</label>
                    <input type="text" class="form-control font_size" id="addrDetail">
                    <span class="check_html"></span>
                  </div>
                  <input type="hidden" name="user_addr" id="user_addr">
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-3 mb-sm-0"><span class="caption">당사 사이트 <a th:href="@{/policy}">정책에 동의 합니다.</a></span>
                    <input type="checkbox" id="policy">
                    <div class="control__indicator"></div>
                  </label>
                    <!-- <span class="ml-auto"><a href="#" class="forgot-pass">Sign In</a></span>  -->
                  </div>

                  <input type="button" value="회원가입" id="joinFormSubmit" class="btn btn-pill text-white btn-block btn-primary">

                  <span class="d-block text-center my-4 text-muted"> 이메일로 회원가입</span>
                  
                  <div class="social-login text-center">
                    <!-- <a href="#" class="facebook">
                      <span class="icon-facebook mr-3"></span> 
                    </a>
                    <a href="#" class="twitter">
                      <span class="icon-twitter mr-3"></span> 
                    </a> -->
                    <a href="#" class="google">
                      <span class="icon-google mr-3"></span> 
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>

  
    <!-- <script th:src="@{/assets/signup_js/jquery-3.3.1.min.js}"></script> -->
    <script th:src="@{/assets/signup_js/popper.min.js}"></script>
    <script th:src="@{/assets/signup_js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/signup_js/main.js}"></script>
  </body>
</html>