@import url("https://fonts.googleapis.com/css?family=Lato:400,700");



ul li {
  list-style-type: none;
}

.chatbox-container {
  z-index: 3;
  position: fixed;
  bottom: 80px;
  right: 70px;
  display: none;
  width: 750px;
  height: 450px;
}

.messages {
  position: absolute;
  background: #F9FBFF;
  opacity: 0.8;
  width: 30%;
  height: 80%;
  top: 16.5%;
  left: 585px;
  /* top: 2.5%;
  left: 0%; */
  border-radius: 10px 0 0 10px;
  box-shadow: -5px 5px 10px rgba(119, 119, 119, 0.5);
}

/*chat messages */
.people {
  position: absolute;
  list-style-type: none;
  width: 33.2%;
  left: 74%;
  top: 43.7%;
  /* left: -4%;
  top: 27.7%; */
  line-height: 0.7em;
}
.people .title {
  /* text-transform: uppercase; */
  font-size: 0.7em;
  margin-left: 14px;
  letter-spacing: 1px;
  color: #777777;
}
.people .time {
  font-size: 0.3em;
  color: #777777;
  position: absolute;
  right: 10px;
  margin-top: 2px;
}
.people .preview {
  color: #79C7C5;
  margin-left: 14px;
  font-size: 0.5em;
}

.person {
  padding: 12px 0 12px 12px;
  border-bottom: 1px solid #79C7C5;
  cursor: pointer;
}
.person:hover {
  background: #F9FBFF;
  transition: all 0.3s ease-in-out;
}

.focus {
  background: #F9FBFF;
  margin-left: 1px;
}

.profile {
  position: absolute;
  left: 88%;
  top: 22%;
  /* left: 10%;
  top: 7%; */
}

.name2 {
  position: absolute;
  top: 50px;
  left: 6px;
  /* text-transform: uppercase; */
  color: #79C7C5;
  font-size: 0.8em;
  letter-spacing: 2px;
  font-weight: 500;
}

.email {
  position: absolute;
  color: #5c5a5a;
  font-size: 0.5em;
  left: -3px;
  margin-left: -30px;
  margin-top: 2px;
}

.chatbox {
  position: absolute;
  display: none;
  left: 30%;
  height: 100%;
  width: 73%;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.5);
}

.top-bar {
  width: 100%;
  height: 60px;
  background: #F9FBFF;
  border-radius: 10px 10px 0 0;
}

.avatar {
  width: 35px;
  height: 35px;
  background: linear-gradient(to bottom left, #79C7C5 20%, #A1E2D9 100%);
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: 15px;
}
.avatar p {
  color: #F9FBFF;
  margin: 7px 12px;
}

.name {
  position: absolute;
  top: 22px;
  /* text-transform: uppercase; */
  color: #777777;
  font-size: 0.8em;
  letter-spacing: 2px;
  font-weight: 500;
  left: 60px;
}

.menu {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 10px;
  height: 20px;
  cursor: pointer;
}
.menu:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}

.icons {
  position: absolute;
  color: #A1E2D9;
  padding: 10px;
  top: 5px;
  right: 21px;
  cursor: pointer;
}
.icons .fas {
  padding: 5px;
  opacity: 0.9;
}
.icons .fas:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}

.dots {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #79C7C5;
  box-shadow: 0px 7px 0px #79C7C5, 0px 14px 0px #79C7C5;
}

.middle {
  position: absolute;
  background: #F9FBFF;
  width: 100%;
  opacity: 1;
  top: 60px;
  height: 75%;
  overflow: auto;
}

/* .left {
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 20px;
} */
.left .bubble {
  background: #b2b2b2;
}
.left div {
  text-align: left;
}

.typing {
  position: absolute;
  top: 67%;
  left: 20px;
}
.typing .bubble {
  background: #eaeaea;
  padding: 8px 13px 9px 13px;
}

.ellipsis {
  width: 5px;
  height: 5px;
  display: inline-block;
  background: #b7b7b7;
  border-radius: 50%;
  animation: bounce 1.3s linear infinite;
}

.one {
  animation-delay: 0.6s;
}

.two {
  animation-delay: 0.5s;
}

.three {
  animation-delay: 0.8s;
}

.bubble {
  position: relative;
  /* display: block; */
  margin: 5px 12px 5px 12px;
  color: #F9FBFF;
  font-size: 0.7em;
  /* 상 우 하 좌 */
  padding: 10px 12px 10px 12px;
  border-radius: 20px;
  width: fit-content;
}

.lower {
  margin-top: 45px;
}

/* .right {
  position: absolute;
  padding: 20px;
  right: 0;
  top: 15%;
  width: 50%;
  height: 100%;
} */
.right div .bubble {
  background: #79C7C5;
  /* text-align: right; */
}
.right div {
  text-align: right;
}

.bottom-bar {
  position: absolute;
  width: 100%;
  height: 55px;
  bottom: 0;
  background: #F9FBFF;
  border-radius: 0 0 10px 10px;
}

/* .left {
  left: 0px;
} */

input.chat-input {
  padding: 7px;
  width: 74%;
  left: 5%;
  position: absolute;
  border: 0;
  top: 13px;
  background: #F9FBFF;
  color: #79C7C5;
}

input.chat-input::placeholder {
  color: #A1E2D9;
}

input.chat-input:focus {
  color: #777777;
  outline: 0;
}

button.send-btn {
  position: absolute;
  border: 0;
  font-size: 1em;
  color: #A1E2D9;
  top: 19px;
  opacity: 0.9;
  right: 17px;
  cursor: pointer;
  outline: 0;
}
button.send-btn:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  color: #79C7C5;
}

@keyframes bounce {
  30% {
    transform: translateY(-2px);
  }
  60% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
    opacity: 0.8;
  }
}

/* .middle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  flex: 1;
  overflow: auto;
} */

/* .middle, .messageText.right {
  display: flex;
  flex-direction: column; 
} */
/* .messageText::before {
  content: "";
  display: block;
  flex: 1;
} */


/* .messageText.right {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: baseline;
  flex-wrap: nowrap;
}
.messageText.left {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: baseline;
  flex-wrap: nowrap;
  flex-grow: 1;
}
.messageText::before {
  content: "";
  display: block;
  flex: 1;
} */
.messageText div.margin {
  margin-bottom: 10px;
}
.chattime {
  margin: 0 7px 0 7px;
  font-size: 10px;
}

.format {
  display: none;
}