/*
Custom Css
*/
.col-lg-9 .row {
    display: flex;
    flex-wrap: nowrap;
 }

 #anabox {
  /* display: flex;
  justify-content: center; */
    align-items: center; 
    margin : 35px; 
    padding : 15px;
    width: 800px;
    height: 200px;
    border : 1px solid black;
    border-radius : 5px;
   
 }

 #damabox {
    margin : 20px; 
    padding : 15px;
    width: 800px;
    height: 100px;
    border : 1px solid black;
    border-radius : 5px;
    background-color: black;
 }

 #damapoint {
  color: #198754;
  font-size: 2em;
 }

 #anapay {
    color:#198754;
    font-size: 2em;
 }

 #anamoney {
    /* color:black; */
    font-size: 3em;
    padding-left: 250px;
 }

 #anacharge {
  margin-left: 350px;
 }

 #anatransfer {
    margin-left: 300px;
 }

 #singo {
  margin-left: -90px;
    text-align: center;
    color: red;
    font-size: 1em;
 }

 #modify {
    width: auto;
    height: auto;
    margin-left: 700px;
 }

 #transbox { 
    width: 80%;
    height: 40px;
    border : 1px solid grey;
    border-radius : 5px;
    background-color: #f8f9fa;
 }

 #inquiretop {
    width: 85%;
    height: 40px;
    border : 1px solid grey;
    border-radius : 5px;
    background-color: #f8f9fa;
 }

 #reporttop {
    width: 90%;
    height: 40px;
    border : 1px solid grey;
    border-radius : 5px;
    background-color: #f8f9fa;
    margin-left: 300px;
 }

 .translist {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    height: 45px;
    width: 30%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
 }

 .clicked {
  color: gold;
}

 .translist input[type='button'] {
  padding-left: 45px;
  border: 0; 
  outline: 0;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
 }

 #mylistbox {
    margin-top: 20px;
    border : 1px solid grey;
    width: 100%;
    padding: 10px;
 }

 .myauctionpic {
    width: 100px;
    height: 100px;
 }

 .mypagebox {
    margin: auto;
    padding: 100px;
    border: 1px solid #198754;
    width: 100%;
 }

 .mypageImg {
  padding-left: 10px;
  width: 100px;
 }

 .mypageTitle {
  text-align: center;
  width: 300px;
 }

 .mypageTwo {
  text-align: center;
  width: 100px;
 }

 .mypagebutton {
  width: 10%;
  /* padding: auto; */
 }

 .mypagebutton input[type=button]{
  margin-bottom: 5px;
 }

 /*.subbox {
   
 }
*/
 #damabutton {
   margin-left: 350px;
 }

 #eggbutton {
   margin-left: 100px;
 }

 #anabox img {
   width: 100px;
   height: 100px;
 }

 #damaMainImg {
   width: 400px;
   /* height: 300px; */
   margin-left: 200px;
 }

 .myegglist {
   padding-top: 10px;
   margin-left: 100px;
 }

 .mydamalist {
    padding-top: 10px;
    width: 100px;
    height: 100px;
 }

 .inquiretext {
   text-align: center;
   padding-top: 10px;
   font-weight: bolder;
 }

 #inquireform {
   border: 1px solid #6c757d;
   width: 80%;
   padding: 10px;
 }

 #inquireform th {
   text-align: left;
   width: 500px;
 }

 #inquireform td select, #inquireform td input, #inquireform td textarea  {
   width: 700px;
   resize: none;
 }
 
 #inquireform th, #inquireform td {
   border: 1px solid #6c757d;
   padding: 10px;
 }

  .inquirelist {
   display: inline-block;
   width:70%;
   border: 1px solid #6c757d;
   margin-bottom: 10px;
 }

 .inquirereply {
   border: 1px solid #6c757d;
   width:6%;
   padding: 10px;
   display: inline-block;
   text-align: center;
   position: absolute;
 }

 #downarrow {
   float: right;
   width: 20px;
   height: 20px;
   padding-right: 10px;
 }

 .faqsbanner {
   list-style-type: none;
 }

 .faqsbannerbox {
   float: left;
   width: auto;
   height: 40px;
   border: 1px solid #6c757d;
   padding: 10px;
 } 

 .reportlist {
   display: inline-block;
   width:70%;
   border: 1px solid #6c757d;
 }

 .reportreply {
   border: 1px solid #6c757d;
   width:10%;
   display: inline-block;
   text-align: center;
 }

#unregisternotice {
  color: red;
  margin-left: 100px;
 }

.faqlist {
  width:80%;
  border: 1px solid #6c757d;
}

.reportbox {
  margin-left: 300px;
}

/*
pjh 추가 Custom Css
*/

/*중고거래 이미지가 자기 옆을 내어주도록*/


.writeForm{
  width: 70%;
  max-height: calc(100vh - 100px); /* 화면 높이에서 footer 높이를 빼준 값 */
  overflow-y: auto; /* 스크롤바 생성 */
  
}  

.select_categories{
  width: 60%;
}

.select_subject{
  width: 30%;
}

.input_name_meerchandise{
  width: 90.5%;
}

.table_writingContent{
  position: relative;
  padding-top: 12px;
  padding-bottom: 50px;
}

.container_na {
  display: block;

  position: relative;
  text-size-adjust: none;
  font-weight: 400;
  font-family: "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", 돋움, dotum, sans-serif;
  background-color: var(--skinColor);
  color: var(--skinTextColor);


  font-family: "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", 돋움, dotum, sans-serif;
  background-color: var(--skinColor);
  color: var(--skinTextColor);
}

/* #content1{
  float: left;
  width: 70%;
}
#sidebar{
  float:right;
  width: 30%;
} */  



 
/* 후기 - 별점 관련 css - 1 */
.starFieldSet{
    display: inline-block;
    direction: rtl;
    border:0;
}
/* #myform fieldset legend{
    text-align: right;
} */
.starFieldSet input[type=radio]{
    display: none;
}
.starFieldSet label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}

.starFieldSet label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
    cursor: pointer;
}
.starFieldSet label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.starFieldSet input[type=checkbox]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

/* #reviewContents {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
} */

/* 후기 - 별점 관련 css - 2 */
.star {
  position: relative;
  font-size: 50px;
  color: #ddd;
}

.star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
}

.star span {
  width: 0;
  position: absolute;
  left: 0;
  color: rgba(250, 208, 0, 0.99);
  overflow: hidden;
  pointer-events: none;
}

.starMent {
  color: black;
  display: inline-block;
}

/* 이미지 처리 관련 css */
.imageZone {
  width: 100px;
  min-height: 150px;
  padding: 10px;
  border: 1px dotted #00f;
}

.imageZone:empty:before {
  content: attr(data-placeholder);
  color: #999;
  font-size: .9em;
}

.reportButtons {
  width: auto;
  margin-left: 280px;
  display: inline-block;
  text-align: center;
}



.reviewButtons {
  width: 170px;
  text-align: center;
  display: inline-block;
  margin-left: 500px;
}

.inquirelist {
  display: inline-block;
}

.inq_answer {
  display: none;
}

#inquirebox {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.inquirereply {
  position: absolute;
  right: 450px;
}

.inq_answer {
  display: none;
}

/* #inquirebox:hover .inq_answer {
  display: block;
} */

#reportlist {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
}

.reportreply {
  position: absolute;
  right: 200px;
}

.report_answer {
  display: none;
}

#title_logo{
  color:  #59ab6e !important;
}


/* body{

  background-color: #00838F;
} */


.advanced{

  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}


.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active


{
  color: #fff;
  background-color: #00838f !important;
  border-color: #00838f !important;
  box-shadow: none;
}


.advanced{

  color: #00838f !important;
}

.form-control:focus{
  box-shadow: none;
  border: 1px solid #00838f;
}

.usedhref{
  float: right;
  margin: 10px;
}
