<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p><a href="csform/report">report</a></p>
	<p><a href="csform/inquiry">inquiry</a></p>
	<p><a href="csform/review">review_used</a></p>
	<p><a href="csform/review_rental">review_rental</a></p>
	<p><a href="mypage/mypage">mypage</a></p>
	<p><a href="mypage/myinquirelist">myinquiry</a></p>
	<p><a href="used/usedSellBoard">used</a></p>
	<p><a href="used/purchase?used_id=USED0001">used purchase</a></p>
	<p><a href="rent/purchase?rental_id=RENT0001">rental purchase</a></p>
	<p><a href="auction/purchase?auction_id=AUCT0001">auction purchase</a></p>
	<p><a href="admin/admin">admin</a></p>
	<p><a href="admin/user">admin user</a></p>
	<p><a href="admin/board">admin board</a></p>
	<p><a href="mypage/myreportlist">my_reportList</a></p>
	<p><a href="csform/review">review</a></p>
	<p><a href="mypage/checkPw">my_checkPw</a></p>
	<p><a href="mypage/mytransactionlistall?user_email=anabada@gmail.com">my_transaction</a></p>
	<p><a href="mypage/myrentallistall?user_email=anabada@gmail.com">my_rental</a></p>
	<p><a href="mypage/myauctionlistall?user_email=anabada@gmail.com">my_auction</a></p>
	<p><a href="mypage/mywantlistused?user_email=anabada@gmail.com">wish_used</a></p>
	<p><a href="mypage/mydamagochi?user_email=anabada@gmail.com">my_damagochi</a></p>
	<p><a href="mypage/damagochishop">damagochiShop</a></p>
</body>
</html>		