<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p><a href="csform/report">report</a></p>
	<p><a href="csform/inquiry">inquiry</a></p>
	<p><a href="csform/review_used">review_used</a></p>
	<p><a href="csform/review_rental">review_rental</a></p>
	<p><a href="mypage/mypage">mypage</a></p>
	<p><a href="mypage/myinquirelist">myinquiry</a></p>
	<p><a href="used/purchase?used_id=USED0001">used purchase</a></p>
	<p><a href="rent/purchase?rental_id=RENT0001">rental purchase</a></p>
	<p><a href="auction/purchase?auction_id=AUCT0001">auction purchase</a></p>
	<p><a href="admin/admin">admin</a></p>
	<p><a href="admin/user">admin user</a></p>
	<p><a href="admin/board">admin board</a></p>

</body>
</html>		