<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/signup_fonts/icomoon/style.css">

    <link rel="stylesheet" href="assets/signup_css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/signup_css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->
    
    <!-- Style -->
    <link rel="stylesheet" href="assets/signup_css/style.css">
    <link rel="stylesheet" href="assets/signup_css/signup_custom.css">

    <title>회원가입</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                  <h1 class="anabada">ANABADA</h1>
                  <h3>회원가입</h3>
                  <p class="mb-4">사용하실 닉네임과 이메일, 비밀번호를 입력해 주세요.</p>
                </div>
                <form action="#" method="post">
                  <div class="form-group first">
                    <label for="name">Nickname</label>
                    <input type="button" value="중복확인" class="btn btn-success" style="position:absolute; right: 0;">
                    <input type="text" class="form-control" id="name">

                  </div>
                  <div class="form-group first">
                    <label for="email">Email</label>
                    <input type="button" value="중복확인" class="btn btn-success" style="position:absolute; right: 0;">
                    <input type="text" class="form-control" id="email">

                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="영어, 숫자, 특수문자 모두 포함되어야 하며, 최소 8글자 이상 입력해주세요. ">
          
                  </div>
                  <div class="form-group last mb-4">
                    <label for="re-password">Re-type Password</label>
                    <input type="password" class="form-control" id="re-password">        
                  </div>

                  <div class="form-group">
                    <label for="phone">phone</label>
                    <input type="button" value="인증" class="btn btn-success" style="position:absolute; right: 0;"> 
                    <input type="text" class="form-control" name="">                   
                  </div>

                  <div class="form-group">
                    <label for="nation">국적</label>
                    <div style="position:absolute; right: 0;">
                      <input type="radio" name="nation" value="korea" class="btn btn-success"> 한국
                      <input type="radio" name="nation" value="japan" class="btn btn-success"> 일본
                    </div>
                    <input type="text" class="form-control" readonly placeholder="국적을 선택해 주세요.">
                  </div>

                  <div class="form-group">
                    <label for="">address</label>
                    <input type="button" value="우편번호검색" class="btn btn-success" style="position:absolute; right: 0;"> 
                    <input type="text" class="form-control" id="password" placeholder="우편번호를 검색해 주세요." readonly>                   
                  </div>

                  <div class="form-group">
                    <label for="text">detailed address</label>
                    <input type="text" class="form-control" id="password">                   
                  </div>
                  
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-3 mb-sm-0"><span class="caption">당사 사이트 <a href="#">정책에 동의 합니다.</a></span>
                    <input type="checkbox" checked="checked"/>
                    <div class="control__indicator"></div>
                  </label>
                    <!-- <span class="ml-auto"><a href="#" class="forgot-pass">Sign In</a></span>  -->
                  </div>

                  <input type="submit" value="회원가입" class="btn btn-pill text-white btn-block btn-primary">

                  <span class="d-block text-center my-4 text-muted"> 이메일로 회원가입</span>
                  
                  <div class="social-login text-center">
                    <!-- <a href="#" class="facebook">
                      <span class="icon-facebook mr-3"></span> 
                    </a>
                    <a href="#" class="twitter">
                      <span class="icon-twitter mr-3"></span> 
                    </a> -->
                    <a href="#" class="google">
                      <span class="icon-google mr-3"></span> 
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="assets/signup_js/jquery-3.3.1.min.js"></script>
    <script src="assets/signup_js/popper.min.js"></script>
    <script src="assets/signup_js/bootstrap.min.js"></script>
    <script src="assets/signup_js/main.js"></script>
  </body>
</html>