<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anabada.dao.AdminDAO">
   
    <select id="findalluser" resultType="UserDTO">
    	SELECT * FROM user
    </select>
    
    <select id="findboard" parameterType="String"  resultType="Admin_board">
		SELECT used_id AS id, used_title AS title, user_email, used_date AS date, used_status AS status FROM used
		<if test='user_email != null and user_email != ""'>
		WHERE user_email = #{user_email}
		</if>
		UNION
		SELECT rental_id AS id, rental_title AS title, user_email, rental_date AS date, rental_status AS status FROM rental
		<if test='user_email != null and user_email != ""'>
		WHERE user_email = #{user_email}
		</if>
		UNION
		SELECT auction_id AS id, auction_title AS title, user_email, auction_date AS date, auction_status AS status FROM auction
		<if test='user_email != null and user_email != ""'>
		WHERE user_email = #{user_email}
		</if>
    </select>
    
    <update id="statusUpdate" parameterType="map">
    	<if test='id.startsWith("USED")'>
			UPDATE used
	    	SET used_status = #{select}
	    	WHERE used_id = #{id}
		</if>
		<if test='id.startsWith("RENT")'>
			UPDATE rental
	    	SET rental_status = #{select}
	    	WHERE rental_id = #{id}
		</if>
		<if test='id.startsWith("AUCT")'>
			UPDATE auction
	    	SET auction_status = #{select}
	    	WHERE auction_id = #{id}
		</if>
	</update>
	
	<update id="usermodify" parameterType="map">
			UPDATE user
		    SET user_status = #{selects}
		<if test='selectn != null and selectn != ""'>
	    	, user_nick = #{selectn}
	    </if>	    	
	   		WHERE user_email = #{email}
	</update>
	
	<select id="count" parameterType="map" resultType="int">
		<if test='string == "used"'>
			SELECT COUNT(*) FROM 
			uTrade
			WHERE EXISTS (SELECT * FROM used_detail WHERE used_detail.uDetail_id = uTrade.uDetail_id AND MONTH(used_detail.uDetail_Date) = #{monthnum})
		</if>
		<if test='string == "rental"'>
			SELECT COUNT(*) FROM 
			rTrade
			WHERE EXISTS (SELECT * FROM rental_detail WHERE rental_detail.rDetail_id = rTrade.rDetail_id AND MONTH(rental_detail.rDetail_Date) = #{monthnum})
			
		</if>
		<if test='string == "auction"'>
			SELECT COUNT(*) FROM 
			aTrade
			WHERE EXISTS (SELECT * FROM auction_detail WHERE auction_detail.aDetail_id = aTrade.aDetail_id AND MONTH(auction_detail.aDetail_Date) = #{monthnum})
		</if>
	</select>
</mapper>
