<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anabada.dao.CSFormDAO">

	<!-- 신고 작성 -->
    <insert id="insertReport" parameterType="Report">
        INSERT INTO
        	report
        (
        	report_id
        	, user_email
        	, report_reported
        	, report_category
        	, report_url
        	, report_comment
        )
        VALUES
        (
        	func_seq_10('REPO')
        	, #{user_email}
        	, #{report_reported}
        	, #{report_category}
        	, #{report_url}
        	, #{report_comment}
        )
    </insert>
    
    <!-- 문의 작성 -->
    <insert id="insertInquiry" parameterType="Inquiry">
    	INSERT INTO
    		inquiry
    	(
    		inq_id
    		, user_email
    		, inq_category
    		, inq_title
    		, inq_content
    	)
    	VALUES
    	(
    		func_seq_10('INQU')
    		, #{user_email}
    		, #{inq_category}
    		, #{inq_title}
    		, #{inq_content}
    	)
    </insert>
    
    <!-- 후기 작성 -->
    <insert id="insertReview" parameterType="Review">
    	INSERT INTO
    		review
    	(
    		review_id
    		, user_email
    		, review_person
    		, board_status
    		, board_no
    		, review_star
    		, review_comment
    	)
    	VALUES
    	(
    		func_seq_10('REVI')
    		, #{user_email}
    		, #{review_person}
    		, #{board_status}
    		, #{board_no}
    		, #{review_star}
    		, #{review_comment}
    	)
    </insert>
    
    <!-- 파일 업로드 -->
    <insert id="insertFile" parameterType="File">
    	INSERT INTO
    		file	
    	(
	    	file_id
	    	, board_no
	    	, board_status
	    	<if test="file_origin != null and file_origin != '' ">
	    	, file_origin
	    	</if>
	    	<if test="file_saved != null and file_saved != '' ">
	    	, file_saved
	    	</if>
    	)
    	VALUES
    	(
    		func_seq_10('FILE')
    		, #{board_no}
    		, #{board_status}
    		<if test="file_origin != null and file_origin != '' ">
    		, #{file_origin}
    		</if>
    		<if test="file_saved != null and file_saved != '' ">
    		, #{file_saved}
    		</if>
    	)
    </insert>
    
    <!-- 중고거래완료 글 ID로 중고 거래완료 글 검색 -->
    <select id="selectUsedDetailById" resultType="Used_detail" parameterType="String">
    	SELECT
    		*
    	FROM
    		used_detail
    	WHERE
    		used_id = #{used_id}
    		AND
    		uDetail_status = '거래 완료'
    </select>
    
    <!-- 중고 거래 글 ID로 중고 거래 글 검색 -->
    <select id="selectUsedByID" resultType="Used" parameterType="String">
    	SELECT
    		*
    	FROM
    		used
    	WHERE
    		used_id = #{user_id}
    </select>
    
     <!-- 렌탈거래 완료 글 id로 찾기 -->
    <select id="selectRentalDetailById" parameterType="Rental_detail" resultType="String">  
    	SELECT
    		*
    	FROM
    		rental_detail
    	WHERE
    		rental_id = #{rental_id}
    		AND
    		rdetail_status = '렌탈 완료'
    </select>
    
    <!-- 렌탈 글 id로 찾기 -->
    <select id="selectRentalById" parameterType="Rental_detail" resultType="String">  
	   	SELECT
	   		*
	   	FROM
	   		rental_detail
	   	WHERE
	   		rental_id = #{rental_id}
    </select>
    
    <!-- 실시간 받아온 이메일로 등록된 유저가 있는지 검색 -->
    <select id="selectUserById" resultType="int" parameterType="String">
    	SELECT 
    		COUNT(user_email)
    	FROM
    		user
    	WHERE
    		user_email = #{reported}
    </select>
</mapper>