<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anabada.dao.UserDAO">
	<insert id="joinUser" parameterType="UserDTO">
		INSERT INTO user 
		(
			user_email
			,user_name
			,user_nick
			,user_pwd
			,user_phone
			,user_addr
			,user_nation
		)
		VALUES
		(
			#{user_email}
			, #{user_name}
			, #{user_nick}
			, #{user_pwd}
			, #{user_phone}
			, #{user_addr}
			, #{user_nation}
		)
	</insert>
    <select id="findUser" resultType="UserDTO">
        select
            *
        from
            user
        where
        	user_email = #{username}
    </select>
</mapper>